.pythonlogo{
    transform: scale(80%);
}

.sect{
    padding: 0;
    width: 19rem;
    height: 10rem;
    margin: calc(0.2rem + 1vw);
    border-radius: 1.5rem;

    font-size: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .5s ease-in-out;
}

.sect:hover{
    transform: scale(1.15);
}