.threeSteps{
    text-align:left;
}

.otherLinks, .otherLinksImg{
    background-color: brown;
    text-decoration: none;
}
.otherLinksImg{
    width: calc(6*(0.5rem + 1vw));
}

.sect{
    margin-bottom: calc(3*(0.2rem + 1vw));
    border-radius: 1.5rem;
    font-size: calc(1.5*(0.5rem + 1vw));
    padding: calc(0.5*(0.5rem + 1vw));
    width: calc(25*(0.5rem + 1vw))
}

.sect:nth-child(4){
    width: 90vw
}